@model IEnumerable<DefenceSimulator.Models.Salvo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enemy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaunchTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enemy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaunchTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weapon.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    @if (!item.IsActive)
                    {
                        <a asp-action="Launch" asp-route-id="@item.Id">שא - גר</a>
                    }
                    |
                    <a asp-action="Edit" asp-route-id="@item.Id">ערוך</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">בטל</a>
            </td>
        </tr>
}
    </tbody>
</table>
